[Desktop Entry]
Type=Application
Name=Keypad GUI
Comment=Sel'tso Technologies Macro Keypad GUI
Keywords=Seltech;Seltso;
Exec=systemctl start --user seltech-keypad-gui
Icon=/opt/seltech-keypad/images/icon.png
Terminal=false