[Unit]
Description=Sel'tso Technologies Macro Keypad driver
After=bluetooth.target
Wants=bluetooth.target
 
[Service]
Type=simple
WorkingDirectory=/opt/seltech-keypad
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/python3 -u /opt/seltech-keypad/keypad_daemon.py
 
[Install]
WantedBy=multi-user.target