[Unit]
Description=Sel'tso Technologies Macro Keypad GUI
 
[Service]
Restart=on-failure
RestartSec=5s
Type=simple
WorkingDirectory=/opt/seltech-keypad
ExecStart=/usr/bin/python3 /opt/seltech-keypad/keypad_gui.py
 
[Install]
WantedBy=default.target